.schoolContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    margin: 100px auto;

}

.schoolCard {
    text-decoration: none;
    
    height: 100%;
    width: 100%;
}

.university {
    display: flex;
    flex-direction: column;

    min-height: 330px;

    background-image: linear-gradient(to bottom, #290192, #290192);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    
    width: 100%;
    
}

